.add-icon {
	background: linear-gradient(180deg, #45AAF2 9.46%, #298CC8 66.33%);
	width: 18px;
	height: 18px;
	border-radius: 50%;

	display: inline-flex;
	align-items: center;
	justify-content: center;

	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #fff;
}