.affiliate-program {
	padding: 20px 15px;
	background: #FFFFFF;
	box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15);
	border-radius: 3px;

	line-height: 19px;
	color: #000;
	margin-bottom: 20px;
	@include sm() {
		padding: 27px 72px 38px 43px;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: 1.3;
	}
}