.aside {
}
.aside__mobile {
	flex: 1 1 auto;
	@include mlg() {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;

		display: flex;
		flex-direction: column;

		opacity: 0;
		visibility: hidden;
		transition: linear .2s;

		background-color: rgba(#000, .5);
		z-index: 999999999999;
	}
	&.visible {
		opacity: 1;
		visibility: visible;
		left: 0;
	}
}
.aside__mobile-close {
	position: absolute;
	top: 10px;
	right: 10px;
}
.aside__mobile-in {
	position: relative;
	@include mlg() {
		max-width: 280px;
		background-color: #fff;
		flex: 1 1 auto;
		overflow-y: auto;
	}
}
.aside__sort {
	box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 0px 0px 0px rgba(63, 63, 68, 0.05);
	border-radius: 3px;
}
.aside__top {
	background: linear-gradient(180deg, #45AAF2 9.46%, #298CC8 66.33%);
	display: flex;
	flex-direction: column;
	@include mlg() {
		padding-top: 20px;
	}
	&_personal {
		min-height: 95px;
		h2 {
			padding: 25px 20px 20px;
			border-bottom: 1px solid #449ACF;
			font-weight: 700;
			font-size: 14px;
			line-height: 17px;
			color: #fff;
			margin: 0;
			@include mlg() {
				padding-top: 0;
				padding-right: 50px;
			}
		}
	}
}
.aside__tabs-nav {
	@include mlg() {
		padding-left: 10px;
		padding-right: 10px;
		a {
			padding-left: 8px;
			padding-right: 8px;
		}
	}
}
.aside__collapse-btn {
	margin-top: 10px;
}
.aside__menu-personal {
	list-style: none;
	padding: 0;
	margin: 0;

	background-color: #fff;
	box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 0px 0px 0px rgba(63, 63, 68, 0.05);
	border-radius: 3px;
	li {
		display: flex;
		flex-direction: column;
	}
	a {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 5px 25px;
		min-height: 30px;

		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
		color: #000;

		box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 0px 0px 0px rgba(63, 63, 68, 0.05);
		@include mlg() {
			min-height: 40px;
			font-size: 14px;
		}
		&.active {
			background: linear-gradient(180deg, #07465A 19.58%, #002632 98.7%);
			box-shadow: 0px 1px 1px rgba(22, 29, 37, 0.03);
			color: #fff;
		}
	}
	&:hover {
		a {
			&.active {
				background: none;
				color: #000;
				box-shadow: none;
			}
			&:hover {
				text-decoration: none;
				background: linear-gradient(180deg, #07465A 19.58%, #002632 98.7%);
				box-shadow: 0px 1px 1px rgba(22, 29, 37, 0.03);
				color: #fff;
			}
		}

	}
}