.button-clr {
	padding: 0;
	background-color: transparent;
	border: none;
}
.button {
	display: inline-block;
	padding: 7px 20px;
	font-size: 14px;
	line-height: 1;
	font-weight: 700;
	color: #292929;

	background: linear-gradient(180deg, #FFFFFF 0%, #F9FAFB 100%);
	border: 1px solid #EFEFF0;
	box-shadow: 0px 1px 1px rgba(22, 29, 37, 0.03);

	background: linear-gradient(180deg, rgba(255, 255, 255, 0.04) 3.12%, rgba(97, 121, 133, 0.04) 100%), linear-gradient(180deg, #FFFFFF 0%, #F9FAFB 100%);
	border: 1px solid #EFEFF0;
	transition: linear .1s;
	&.active {
		background: linear-gradient(180deg, #07465A 19.58%, #002632 98.7%);
		box-shadow: 0px 1px 1px rgba(22, 29, 37, 0.03);
		border-radius: 2px;
		color: #fff;
		padding-top: 8px;
		padding-bottom: 8px;
	}
	&:hover {
		text-decoration: none;
	}
	&_theme_dark {
		background: linear-gradient(180deg, #07465A 19.58%, #002632 98.7%);
		box-shadow: 0px 1px 1px rgba(22, 29, 37, 0.03);
		border-radius: 2px;
		color: #fff;
		&:hover {
			box-shadow: 0 6px 12px rgba(#000, .18);
		}
	}
	&_select {
		background: #292929;
		border: 1px solid #2D98DA;
		box-shadow: 0px 1px 1px rgba(22, 29, 37, 0.03);
		border-radius: 2px;

		font-size: 12px;
		line-height: 14px;
		text-align: center;

		color: #FFFFFF;
	}
	&_gradient_blue {
		background: linear-gradient(180deg, #45AAF2 9.46%, #298CC8 66.33%);
		box-shadow: 0px 1px 0px rgba(22, 29, 37, 0.05);
		color: #fff;

		font-weight: 400;
		font-size: 12px;
		line-height: 16px;
		&:hover {
			color: #fff;
		}
	}
}