.checkbox {
	position: relative;
}
.checkbox__input {
	position: absolute;
	top: 0;
	left: -9999px;

	opacity: 0;
	visibility: hidden;
	&:checked {
		& + label {
			.checkbox__check-pseudo {
				img {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}
.checkbox__label {
	display: flex;
	flex-wrap: nowrap;
}
.checkbox__check-pseudo {
	position: relative;
	top: 2px;
	display: inline-block;
	vertical-align: middle;

	width: 100%;
	max-width: 16px;
	flex: 0 0 16px;
	height: 16px;
	margin-right: 5px;

	border-radius: 3px;
	background: linear-gradient(180deg, #45AAF2 9.46%, #298CC8 66.33%);
	&:before {
		content: '';

		// display: block;
		// vertical-align: middle;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -6px;
		margin-top: -6px;

		width: 12px;
		height: 12px;

		border-radius: 2px;
		background-color: #fff;
	}
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -5px;
		margin-top: -4px;
		opacity: 0;
		visibility: hidden;
		transition: linear .1s;
	}

}
.checkbox__label-txt {
	display: inline-block;
	vertical-align: middle;

	font-size: 14px;
	line-height: 20px;

	color: #212B36;
}