.choices {
	width: 100%;
	&:after {
		display: none;
	}
}
.choices__inner {
	background: #292929;
	// border: 1px solid #2D98DA;
	box-shadow: 0px 1px 1px rgba(22, 29, 37, 0.03);
	border-radius: 2px;
	padding: 0 !important;
	min-height: auto;

}
.choices__list {
	&--single {
		padding: 8px 10px;
		.choices__item {
			font-size: 12px;
			line-height: 14px;
			text-align: center;

			color: #FFFFFF;
			padding: 0 !important;
		}
	}
}

.choices__item {
	padding: 10px !important;
	font-size: 12px;
	line-height: 14px;

	color: #212B36;
	&:after {
		display: none;
	}
}
.choices__input {
	font-size: 14px;
	line-height: 1;

	color: #212B36;

	background: #FFFFFF;
	box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 0px 0px 0px rgba(63, 63, 68, 0.05);
	@include iph() {
		font-size: 13px;
		line-height: 1;

		color: #999999;
	}

}
.choices__list--dropdown {
	background: #FFFFFF;
	box-shadow: 0px 2px 16px rgba(33, 43, 54, 0.2), 0px 0px 0px rgba(6, 44, 82, 0.1);
	border-radius: 3px;
	border: none;
	.choices__list {
		max-height: 100px;
	}
}
.choices-select {
	display: inline-block;
	vertical-align: middle;
	&_simple {
		width: auto;
		.choices__inner {
			background: #fff;
			min-height: 26px;
			&:after {
				content: '';

				position: absolute;
				top: 50%;
				right: 10px;
				margin-top: -2px;

				border-top: 5px solid #637381;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
			}
		}
		.choices__list--single {
			padding: 5px 12px;
			.choices__item--selectable {
				padding-right: 15px !important;
			}
		}
		.choices__input {
			padding: 5px 10px !important;
		}
		.choices__item--choice {
			font-size: 12px;
			padding: 7px 10px !important;
		}
		.choices__item {
			color: #000;
		}
	}
}