.collapse-btn {
	width: 100%;
	padding: 6px 10px;

	background: linear-gradient(180deg, #FFFFFF 0%, #F9FAFB 100%);
	border: 1px solid #EFEFF0;
	box-shadow: 0px 1px 1px rgba(22, 29, 37, 0.03);
	&.active {
	}
	&.collapsed {
		img {
			transform: rotate(180deg);
		}
	}
}

.collapse {
	display: block;
	max-height: 0px;
	overflow: hidden;
	transition: max-height .5s cubic-bezier(0, 1, 0, 1);

	&.show {
		max-height: 99em;
		transition: max-height .5s ease-in-out;
	}
}
