h2 {
	font-size: 18px;
	line-height: 1.22;
	font-weight: 700;
	margin-bottom: 10px;
	color: #292929;
}
h4 {
	font-size: 14px;
	line-height: 17px;
	color: #000;
}
strong {
	color: #000;
	font-size: 14px;
	line-height: 19px;

}
h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.3;
}