.dropdown {
	
}
.dropdown__menu {
	border: 1px solid #E2E2E2;
	border-radius: 4px;
	display: block;
	margin-top: -10px;

	opacity: 0;
	visibility: hidden;
	&.show {
		margin-top: 5px;
		margin-bottom: 5px;

		opacity: 1;
		visibility: visible;
		transition: opacity ease .2s,
					visibility ease .2s,
					margin ease .2s;
	}
	&_width_auto {
		min-width: auto;
		width: auto;
	}
	&_box_shadow {
		box-shadow: 0 3px 6px rgba(#000, .16);
	}
}
