.faq-section {
	background: #FFFFFF;
	box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15);
	border-radius: 3px;
	padding: 15px;
	@include md() {
		padding: 25px 35px;
	}
	h2 {
		margin-bottom: 20px;
	}
}
.faq-section__item {
	overflow: hidden;
	margin-bottom: 15px;
	h3 {
		margin: 0;
	}
	.houdini-toggle {
		display: flex;
		flex-wrap: nowrap;
		padding: 8px 15px;

		font-size: 14px;
		line-height: 20px;
		color: #292929;
		font-weight: 400;

		background: linear-gradient(180deg, #FFFFFF 0%, #E6E6E6 100%);
		border: 1px solid #EFEFF0;
		box-shadow: 0px 1px 1px rgba(22, 29, 37, 0.03);
		border-radius: 2px;
		@include md() {
			padding: 8px 25px 7px;
		}
		&[aria-expanded="true"] {
			.houdini-toggle-icon {
				padding-bottom: 2px;
			}
		}
		span {
			&:first-child {
				margin-right: auto;
			}
		}
	}
	.houdini-toggle-icon {
		margin-left: 10px;
		flex: 0 0 18px;
		max-width: 18px;
		width: 18px;
		height: 18px;
		padding: 0;

		display: flex;
		align-items: center;
		justify-content: center;

		font-size: 14px;
		line-height: 17px;
		text-align: center;
		color: #fff;

		border-radius: 50%;
		background: linear-gradient(180deg, #45AAF2 9.46%, #298CC8 66.33%);
		// padding-bottom: 1px;
		padding-left: 1px;
	}
}
.faq-section__collapse {
	display: block;
	max-height: 0px;
	overflow: hidden;
	transition: max-height .5s cubic-bezier(0, 1, 0, 1);
	&.is-expanded {
		max-height: 99em;
		transition: max-height .5s ease-in-out;
	}
}
.faq-section__collapse-content {
	padding: 10px 15px;
	font-weight: normal;
	font-size: 13px;
	line-height: 21px;

	color: #000000;
	@include md() {
		padding: 12px 24px;
	}
}