.filtering-form {
	background: linear-gradient(180deg, #FFFFFF 0%, #F9FAFB 100%);
	border: 1px solid #EFEFF0;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 5px 0;
	}
	.choices {
		margin: 5px 0;
	}
	&_theme_none {
		background: none;
		box-shadow: none;
		border: none;
		border-radius: 0;
	}
}
.filtering-form__in {
	min-height: 68px;
	padding: 13px 29px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.filtering-form__label {
	font-size: 14px;
	line-height: 20px;
	color: #292929;
	margin: 5px 7px 5px 0;
}

.filtering-form__stat {
	display: flex;
	flex-direction: column;
	padding: 0 20px;
	margin: 5px 0;
	
	font-size: 14px;
	line-height: 20px;
	@include msm() {
		padding: 0 15px;
		// flex: 0 0 50%;
		// width: 100%;
		// max-width: 50%;
		// border-bottom: 1px solid #E7E7E7;
		// padding-bottom: 10px;
	}
	& + & {
		@include sm() {
			border-left: 1px solid #E7E7E7;
		}
	}
}
.filtering-form__stat-in {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1 1 auto;
}
.filtering-form__stat-range {
	color: #999;
	margin-bottom: 5px;
}
.filtering-form__stat-value {
	color: #292929;
}