.form-group {
	margin-bottom: 12px;
	&_indents_left {
		@include sm() {
			padding-left: 130px;
		}
	}
}
.form-group__row {

}
.form-group__label-column {
	width: 100%;
	@include sm() {
		margin: 0;
		flex: 0 0 130px;
		max-width: 130px;
		text-align: right;
		// padding-top: 8px;
	}
}