.form-control {
	width: 100%;
	padding: 9px 12px;
	border: 1px solid #C4CDD5;

	background: #FFFFFF;
	box-shadow: inset 0px 1px 2px rgba(102, 113, 123, 0.21);
	border-radius: 3px;

	color: #212B36;
	font-size: 14px;
	line-height: 1;
	
	resize: none;
	@include iph() {
		font-size: 13px;
		line-height: 1;

		color: #E7E7E7;
	}
	&:hover, &:focus {

	}
}