.header-info {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 5px 10px 5px;
	border-radius: 0 0 4px 4px;

	list-style: none;

	font-size: 12px;
	color: #fff;

	background-color: #45AAF2;
	@include msm() {
		justify-content: flex-end;
	}
	li {
		position: relative;
		padding-left: 10px;
		padding-right: 10px;
		margin: 2px 0;
		&:after {
			content: '';

			position: absolute;
			left: 100%;
			top: 0;
			width: 1px;
			height: 100%;

			background-color: #fff;
			@include msm() {
				display: none;
			}
		}
		&:last-child {
			&:after {
				display: none;
			}
		}
	}
}