.header {
	position: relative;
	margin-bottom: 20px;
	@include mlg() {
		margin-bottom: 10px;
	}
	&>* {
		position: relative;
	}
	&:before {
		content: '';

		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 216px;

		background-color: #2D98DA;
	}
	.header-info {
		margin-left: 15px;
		margin-right: 15px;
		@include xl() {
			margin-right: 35px;
		}
	}
	.lang {
		padding-left: 15px;
		padding-right: 15px;
	}
}

