.input {
	width: 100%;
	background: #FFFFFF;
	border: 1px solid #F0F0F0;
	box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.0576104);
	border-radius: 1px;
	padding: 7px 14px 5px 9px;


	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	font-size: 13px;

	color: #373737;
	transition: linear .1s;
	@include iph() {
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		font-size: 13px;

		color: #C8C8C8;
	}
	&:focus {
		border-color: rgba(#000, .2);
	}
}