.lang {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		// border: 1px solid #77C5FD;
	}
	li {
		width: 100%;
		max-width: 50%;
		flex: 0 0 50%;
		&:first-child {
			a {
				border-radius: 0 0 0 2px;
			}
		}
		&:last-child {
			a {
				border-radius: 0 0 2px 0;
			}
		}
	}
	a {
		display: block;
		padding: 4px 19px 6px;

		transition: linear .1s;

		background: #45AAF2;
		border: 1px solid #77C5FD;
		border-radius: 2px 0px 0px 2px;
		img {
			opacity: .5;
		}
		&.active {
			background: linear-gradient(180deg, #FFFFFF 0%, #F9FAFB 100%);
			border: 1px solid #C4CDD5;
			box-shadow: 0px 1px 0px rgba(22, 29, 37, 0.05);
			img {
				opacity: 1;
			}
		}
	}
}