.link {
	display: inline-block;
	font-size: 12px;
	line-height: 1.166;
	color: #2D98DA;
	text-decoration: underline;
	text-decoration-style: dashed;
	padding-left: 10px;
	padding-right: 10px;
	&:hover, &:focus {
		color: #2D98DA;
		text-decoration-style: dashed;
	}
	&_grey {
		color: #999999;
	}
	&_size_l {
		font-size: 14px;
		font-weight: 700;
	}
	&_padding_none {
		padding: 0;
	}
}
.link__add-icon {
	margin-right: 6px;
}