.main-table {
	border-collapse: collapse;
	background: #FFFFFF;
	box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15);
	border-radius: 3px;
	width: 100%;
	@include mmd() {
		display: block;
		background-color: transparent;
		box-shadow: none;
	}
	& > thead {
		@include mmd() {
			display: none;
			& > th {
				display: block;
				&:first-child {
					display: none;
				}
			}
		}
	}
	& > tbody {
		@include mmd() {
			display: block;
		}
		& > tr {
			cursor: pointer;
			@include mmd() {
				display: block;
			}
			&:hover {
				@include md() {
					background: linear-gradient(180deg, #07465A 19.58%, #002632 98.7%);
					box-shadow: 0px 1px 1px rgba(22, 29, 37, 0.03);
					border-radius: 2px;
					color: #fff;
					.table-tech {
						opacity: 1;
						visibility: visible;
						.popover {
							color: #373737;
						}
					}
					sup {
						opacity: 1;
						visibility: visible;
					}
				}
			}
			 & > td {
			 	@include mmd() {
					display: block;
					&:before {
						display: inline-block;
						vertical-align: middle;
						content: attr(data-th)": ";
						font-weight: 700;
						margin-right: 5px;
					}
					&:first-child {
						&:before {
							display: none;
						}
					}
			 	}
				&:last-child {
					position: relative;
					padding: 0;
					@include mmd() {
						padding: 7px 15px;
					}
					@include md() {
						&:after {
							content: '';
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							background: linear-gradient(180deg, #45AAF2 9.46%, #298CC8 66.33%);

							opacity: 0;
							visibility: hidden;
							z-index: 1;
						}
					}
					a {
						padding: 10px 18px;
						display: block;
						position: relative;
						z-index: 2;
						@include mmd() {
							padding: 5px 5px 4px;
							display: inline-block;
							background: linear-gradient(180deg, #45AAF2 9.46%, #298CC8 66.33%);
							color: #fff;
							border-radius: 2px;
						}
					}
					&:hover {
						@include md() {
							&:after {
								opacity: 1;
								visibility: visible;
							}
						}
					}
				}
			}
		}
	}
	tr {
		border-bottom: 1px solid #E9E9E9;
		color: #000;
		margin-bottom: 5px;
		padding: 5px 0;
		background-color: #fff;
		box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15);
	}
	th {
		padding: 9px 10px;
		font-size: 14px;
		color: #292929;
		a {
			&:hover {
				text-decoration: none;
			}
		}
	}
	td {
		padding: 7px 10px;
		font-size: 12px;
		line-height: 1.166;
		@include mmd() {
			padding-left: 15px;
			padding-right: 15px;
		}
		& > .main-table__exchange-name {
			@include md() {
				padding: 7px 10px !important;
			}
		}
		a {
			&:hover {
				text-decoration: none;
			}
		}
		&:first-child {
			position: relative;
			@include md() {
				// padding: 15px;
				width: 5%;
				text-align: center;
				padding: 0 10px;
			}
			&:hover {
				.main-table__popover {
					opacity: 1;
					visibility: visible;
				}
			}
			@include md() {
			}
		}
		&:nth-child(2) {
			padding: 0;
			@include mmd() {
				padding: 7px 15px;
				&:before {
					vertical-align: top;
				}
			}
			a {
				display: inline-block;
				padding: 10px 18px;
				@include mmd() {
					display: inline-block;
					padding: 0;
				}
			}
		}
	}
	sup {
		opacity: 0;
		visibility: hidden;
	}
}
.main-table__popover {
	position: absolute;
	top: 100%;
	left: 0;
	margin-top: -5px;

	width: 230px;
	min-height: 200px;
	z-index: 111;

	opacity: 0;
	visibility: hidden;
}

.main-table__popover-btn {
	display: inline-block;
	vertical-align: middle;
	width: 17px;
	&_large {
		width: 25px;
		@include md() {
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}
}
.main-table__exchange-name {
	display: inline-block;
	vertical-align: middle;
	& ~ .table-tech {
		display: inline-block;
		vertical-align: middle;
		position: relative;
		z-index: 999999999999999999999;
		// margin-left: 10px;
		transition: linear .1s;

		@include md() {
			width: auto;
			display: block;
			opacity: 0;
			visibility: hidden;
			position: absolute;
			top: 50%;
			right: 10px;
			transform: translate(0, -50%);
		}
		.popover {
			// width: 230px;
		}
	}
}
.main-table__icon-wrap {
	img {
		display: inline-block;
		width: 10px;
		margin-left: 10px;
		transform: rotate(180deg);
	}
	&.active {
		img {
			transform: rotate(0);
		}
	}
}

.main-table__exchanger {
	position: relative;
	width: 150px;
	padding: 10px 80px 10px 10px;

	@include mmd() {
		padding: 0;
		margin-top: 15px;
		width: auto;
	}
}
.main-table__exchange-name {
	padding: 0 !important;
}