.menu-footer {
	list-style: none;
	padding: 0;
	margin: 0;

	display: flex;
	flex-wrap: wrap;
	li {
		&:last-child {
			a {
				&:after {
					display: none;
				}
			}
		}
		a {
			position: relative;
			display: block;
			padding: 0 10px;
			font-size: 13px;
			color: #999999;
			text-decoration: none;
			&:after {
				content: '|';

				position: absolute;
				left: 100%;
				top: 50%;
				transform: translate(0, -50%);
				margin-top: -1px;
				margin-left: -1px;
			}
			&:hover {
				text-decoration: underline;
			}
		}
	}
}