.menu {
	margin-bottom: 15px;
	@include mlg() {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		z-index: 11111;

		display: flex;
		flex-direction: column;

		opacity: 0;
		visibility: hidden;

		transition: linear .2s;
		background-color: rgba(#000, .5);
		&.visible {
			opacity: 1;
			visibility: visible;
			left: 0;
		}
		.menu-nav {
			display: block;
			background-color: transparent;
			a {
				color: #373737;
				font-size: 16px;
				&:before {
					display: none;
				}
				&:after {
					display: none;
				}
			}
		}
	}
}
.menu__in {
	@include mlg() {
		width: 280px;
		background-color: #fff;
		flex: 1 1 auto;
		overflow-y: auto;
		padding: 50px 15px;
		position: relative;
	}
}

.menu__close {
	position: absolute;
	right: 10px;
	top: 10px;

}