.menu-nav {
	list-style: none;
	padding: 0;
	margin: 0;

	display: flex;
	flex-wrap: wrap;
	background-color: rgba(#000, .08);
	border-radius: 6px;
	li {
		&:last-child {
			a {
				&:after {
					display: none;
				}
			}
		}
		a {
			position: relative;

			display: block;
			padding: 9px 21px 8px;

			font-size: 14px;
			line-height: 1;
			color: #fff;

			border-radius: 2px;
			@include mxl() {
				padding-left: 12px;
				padding-right: 12px;
			}
			&:before {
				content: '';

				position: absolute;
				top: 100%;
				left: 50%;
				margin-left: -7px;
				border-top: 7px solid #002632;
				border-left: 7px solid transparent;
				border-right: 7px solid transparent;
				opacity: 0;
				visibility: hidden;
			}
			&:after {
				content: '|';
				position: absolute;
				left: 100%;
				top: 50%;
				transform: translate(0, -50%);
				margin-top: -1px;

			}
			&.active {
				background: linear-gradient(180deg, #07465A 19.58%, #002632 98.7%);
				box-shadow: 0px 1px 1px rgba(22, 29, 37, 0.03);
				color: #fff;
				&:before {
					opacity: 1;
					visibility: visible;
				}
				&:after {
					display: none;
				}
			}
			&:hover {
				// text-decoration: none;
				&.active {
					text-decoration: none;
				}
			}
		}
	}
}