.news-card {
	display: block;
	box-shadow: 0 1px 3px rgba(#3F3F44, .15);
	border-radius: 3px;
	width: 262px;

	font-size: 14px;

	background-color: #fff;
	transition: ease .2s;
	&:hover {
		text-decoration: none;
	}
	img {
		width: 100%;
	}
	&:hover {
		box-shadow: 0 6px 12px rgba(#000, .15);
	}
}
.news-card__foot {
	color: #999;
	font-size: 13px;
	line-height: 1.6;
}
.news-card__in {
	padding: 15px;
}