#tns1-ow {
	position: relative;
	overflow: hidden;
	padding-top: 5px;
	padding-bottom: 5px;
	@include msm() {
		width: 270px;
		margin-left: auto;
		margin-right: auto;
	}
	.tns-controls {
		position: absolute;
		top: 10px;
		right: 0;
		bottom: 10px;
		z-index: 10;
	}
	[data-controls] {
		position: absolute;
		top: 0;
		z-index: 99999999;
		display: flex;
		flex-direction: column;
		padding: 0;
		border: none;
		& > span {
			position: relative;
			
			display: flex;
			flex-direction: column;
			justify-content: center;
			flex: 1 1 auto;
			width: 30px;
			height: 100%;
			text-align: center;
			background: linear-gradient(180deg, #FFFFFF 0%, #F9FAFB 100%);
			border: 1px solid #EFEFF0;
			box-shadow: 0px 1px 1px rgba(22, 29, 37, 0.03);
		}

	}
	[data-controls="prev"] {
		left: 0;
		height: 100%;
		display: none;
		img {
			transform: rotate(-180deg);
		}
	}
	[data-controls="next"] {
		right: 0;
		height: 100%;
		&:before {
			content: '';
			position: absolute;
			top: -1px;
			left: -80px;
			height: 100%;
			width: 218px;
			background: linear-gradient(90deg, rgba(249, 249, 249, 0.0001) 0%, #FAFAFA 40.33%);
			z-index: -1;
		}

	}
	.news-card {
		width: 100%;
	}
	.tns-inner {
		padding: 10px;
		margin-left: -10px;
		margin-right: -15px;
	}
}
.news-slider {
	position: relative;
}