.pagination {
	margin: 24px 0;
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		list-style: none;
		padding: 0;
		margin: 0;
	}
	li {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;


		background: linear-gradient(180deg, #FFFFFF 0%, #F9FAFB 100%);
		border: 1px solid #C4CDD5;
		box-sizing: border-box;
		box-shadow: 0px 1px 0px rgba(22, 29, 37, 0.05);

		width: 38px;
		height: 38px;

		font-size: 14px;
		line-height: 1;

		color: #333333;
		&:first-child {
			border-radius: 3px 0px 0px 3px;
			margin-right: 4px;
		}
		&:nth-child(2) {
			border-radius: 3px 0px 0px 3px;
		}
		&:nth-last-child(2) {
			border-radius: 0 3px 3px 0;
		}
		&:last-child {
			border-radius: 0 3px 3px 0;
			margin-left: 4px;
		}
		& + li {
			& + li {
				&:not(:last-child) {
					border-left-color: transparent;
				}
			}
		}
		&.active {
			background: #F4F6F8;
			border: 1px solid #C4CDD5;
			box-shadow: inset 0px 1px 4px rgba(99, 115, 129, 0.195624), inset 0px 1px 1px rgba(99, 115, 129, 0.608667);
		}
	}
	a {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 100%;
		height: 100%;

		color: #333;
		&:hover {
			text-decoration: none;
		}
	}
}