.popular-statistic {
	width: 100%;
	border-collapse: collapse;
	background: #FFFFFF;
	box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 0px 0px 0px rgba(63, 63, 68, 0.05);
	border-radius: 3px;
	border: 1px solid #E9E9E9;

	font-size: 12px;
	line-height: 16px;
	color: #292929;
	td {
		padding: 9px 10px 8px;
		&:first-child {
			width: 10%;
		}
		&:last-child {
			width: 10%;
			color: #999;
		}
		&[colspan="2"] {
			padding: 7px 10px;
			width: auto;
			color: #292929;
		}
	}
	tr {
		border-bottom: 1px solid #E9E9E9;
		cursor: pointer;
		&:hover {
			&:not(:first-child) {
				background: linear-gradient(180deg, #07465A 19.58%, #002632 98.7%);
				color: #fff;
			}
		}
	}
	& + .link {
		margin-top: 15px;
		padding: 0;
	}
	tbody {
		tr {
			&:nth-child(n+9) {
				// max-height: 0px;
				// overflow: hidden;
				// transition: max-height .5s cubic-bezier(0, 1, 0, 1);
				display: none;
			}
		}
	}
	&.show {
		tbody {
			tr {
				&:nth-child(n+9) {
					display: table-row;
					// max-height: 99em;
					// transition: max-height .5s ease-in-out;
				}
			}
		}
	}
}
.popular-statistic__exchange {
	display: block;
	text-align: center;

	font-size: 12px;
	.svg-icon {
		font-size: 10px;
		color: #298CC8;
	}
}
.popular-statistic__title {
	font-size: 14px;
	line-height: 19px;
}