.popover-form {
	font-size: 14px;
	line-height: 1;
	font-weight: 400;
	padding: 15px;
	text-align: center;
	&:before {
		@media only screen and (min-width: 439px) {
			left: 50%;
			margin-left: -6px;
		}
	}
	&:after {
		@media only screen and (min-width: 439px) {
			left: 50%;
			margin-left: -3px;
		}
	}
}
.popover-form__group {

}
.popover-form__label {
	margin-bottom: 10px;
}
.popover-form__control {
	margin-bottom: 12px;
}
.popover-form__submit {

}