.popover-table {
	width: 100%;
	tbody {
		tr {
			&:nth-child(even) {
				background: #F7F7F7;
				background-blend-mode: multiply;
			}
		}
	}
	td {
		text-align: left !important;
		border: 1px solid #EFEFF0;
		box-shadow: 0px 1px 1px rgba(22, 29, 37, 0.03);
		padding: 9px 10px 7px !important;
		&:first-child {
			width: 60%;
		}
	}
}