.popover {
	border: 5px solid #3397D7;
	box-shadow: 0px 1px 15px rgba(22, 29, 37, 0.157343);
	background-color: #fff;
	border-radius: 2px;
	text-align: left;
	&:before {
		content: '';
		position: absolute;
		bottom: 100%;
		margin-bottom: 5px;
		left: 6px;
		border-bottom: 11px solid #3397D7;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
	}
	&:after {
		content: '';
		position: absolute;
		bottom: 100%;
		left: 9px;

		border-bottom: 9px solid #fff;
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
	}
}
.popover__in {
	background-color: #fff;
}
.popover__top {
	padding: 10px 15px;
}