.review-alert {
	display: inline-block;
	padding: 2px 10px;
	font-size: 12px;
	line-height: 16px;

	color: #292929;
	border-radius: 2px;
	&_solved {
		background: linear-gradient(180deg, #FFFFFF 0%, #D6FCD6 100%);
		box-shadow: 0px 1px 1px rgba(22, 29, 37, 0.03);
	}
	&_not_solved {
		background: linear-gradient(180deg, #FFFFFF 0%, #FCD6D6 100%);
		box-shadow: 0px 1px 1px rgba(22, 29, 37, 0.03);
	}
}