.review {
	background: #FFFFFF;
	box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15);
	border-radius: 3px;
	margin-bottom: 7px;
	.review {
		position: relative;
		margin-top: 15px;
		margin-bottom: 20px;
		&:before {
			content: '';
			position: absolute;
			bottom: 100%;
			left: 30px;

			border-bottom: 9px solid #e7e7e7;
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
		}
		&:after {
			content: '';
			position: absolute;
			bottom: 100%;
			left: 30px;
			margin-bottom: -2px;

			border-bottom: 9px solid #fff;
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
		}
		&:last-child {
			margin-bottom: 0;
		}
		.review__head {
			background: linear-gradient(180deg, #FFFFFF 0%, #E6E6E6 100%);
			border: 1px solid #EFEFF0;
			box-shadow: 0px 1px 1px rgba(22, 29, 37, 0.03);
		}
		.review__icon {
			font-size: 15px;
		}
	}
	&_positive {
		.review__head {
			background: linear-gradient(180deg, #FFFFFF 0%, #D6FCD6 100%);
			border: 1px solid #EFEFF0;
			box-shadow: 0px 1px 1px rgba(22, 29, 37, 0.03);
		}
	}
	&_negative {
		.review__head {
			background: linear-gradient(180deg, #FFFFFF 0%, #FCD6D6 100%);
			border: 1px solid #EFEFF0;
			box-shadow: 0px 1px 1px rgba(22, 29, 37, 0.03);
		}
		.review__icon-like {
			transform: rotate(180deg);
			color: #D9A8A8;
		}
	}
}
.review__head {
	padding: 7px 28px 2px;
	background: linear-gradient(180deg, #FFFFFF 0%, #E6E6E6 100%);
	border: 1px solid #EFEFF0;
	box-shadow: 0px 1px 1px rgba(22, 29, 37, 0.03);
	border-radius: 2px;
	@include msm() {
		padding-left: 15px;
		padding-right: 15px;
	}
}
.review__user {
	margin-bottom: 5px;
}
.review__icon {
	color: #999;
	font-size: 16px;
	line-height: 1;
	position: relative;
	top: -1px;
}
.review__user-name {
	font-size: 14px;
	line-height: 20px;
	color: #292929;
	position: relative;
	top: 1px;
}
.review__user-country {
	position: relative;
	top: -1px;
}
.review__date {
	margin-bottom: 5px;
	margin-left: auto;
	& + * {
		@include xl() {
			margin-left: 15px;
		}
	}
}
.review__action {
	position: relative;
	top: -1px;
	margin-bottom: 5px;
}
.review__icon-like {
	font-size: 18px;
	color: #BED9A8;
}
.review__icon-review {
	font-size: 18px;
	color: #999;
}
.review__body {
	padding: 21px 20px;
	@include msm() {
		padding-left: 8px;
		padding-right: 8px;
	}
}
.review__content {
	padding-left: 10px;
	padding-right: 10px;
}
.review__body-foot {
	position: relative;
	padding-top: 10px;
	margin-top: 20px;
	&:before {
		content: '';

		position: absolute;
		top: 0;
		left: 10px;
		right: 10px;

		border-top: 1px solid #e9e9e9;
	}
}
.review__foot-actions {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		display: flex;
		flex-wrap: wrap;
	}
	li {
		position: relative;
		font-size: 0;
		&:after {
			content: '';
			border-left: 1px solid #e7e7e7;
			height: 16px;
			display: inline-block;
			vertical-align: middle;
		}
		&:last-child {
			&:after {
				display: none;
			}
		}
	}
	a {
		vertical-align: middle;

		font-size: 13px;
		line-height: 21px;
	}
}

.review__alert {
	margin-top: 15px;
}

.review__popover {
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -115px;
	margin-top: 20px;
	width: 230px;
	z-index: 111;

	opacity: 0;
	visibility: hidden;
	transition: linear .1s;
	&.visible {
		opacity: 1;
		visibility: visible;
	}
	@include msm() {
		left: auto;
		right: 0;
		margin-left: auto;
	}
	@media only screen and (max-width: 438px) {
		right: auto;
		left: 0;
	}
}

.review__comment-form {
	margin-top: 20px;
	padding-left: 0;
	padding-right: 0;
}