.simple-table {
	border-collapse: collapse;
	background-color: #fff;
	margin-bottom: 10px;
	tbody {

	}
	tr {
		&:nth-child(2n) {
			background: #F7F7F7;
			background-blend-mode: multiply;
		}
	}
	td {
		border: 1px solid #E9E9E9;
		padding: 8px 8px 7px;
		font-size: 12px;
		line-height: 14px;
		color: #000;
		&:nth-child(1) {
			width: 63%;
		}
		&:nth-child(2) {
			width: 37%;
		}
	}
	img {
		display: inline-block;
		vertical-align: middle;
	}
	.link {
		padding: 0;
	}
}