.sort-form {
	border-top: 1px solid #449ACF;
	border-bottom: 1px solid #EFEFEF;
}
.sort-form__row {

}
.sort-form__group {
	background-color: #fff;
	& + * {
		// border-left: 1px solid #EFEFEF;
		.sort-form__label {
			border-left: 1px solid #449ACF;
		}
		.sort-form__input-wrap {
			border-left: 1px solid #EFEFEF;
		}
	}
}
.sort-form__label {
	padding: 7px 10px 7px 15px;
	display: block;
	margin-bottom: 0;

	font-weight: 400;
	font-size: 12px;
	line-height: 16px;

	color: #FFFFFF;
	background-color: #298CC8;
}
.sort-form__input-wrap {
	padding: 13px 10px 12px 15px;
	background-color: #fff;
}
.sort-form__control {
	width: 100%;
	padding: 7px 15px 6px;
	border: 1px solid #F0F0F0;

	font-weight: 400;
	font-size: 13px;
	line-height: 1;

	color: #000;

	background: #FFFFFF;
	box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.0576104);
	border-radius: 1px;
	@include iph() {
		font-weight: 400;
		font-size: 13px;
		line-height: 1;

		color: #999999;
	}
}