.sorted-links {
	background-color: #fff;
	h3 {
		padding: 7px 10px 6px 15px;
		border-bottom: 1px solid #EFEFEF;
		display: block;

		font-weight: 700;
		font-size: 14px;
		line-height: 17px;

		color: #000000;
		margin: 0;
	}
	&.show {
		.sorted-links__item {
			&:nth-child(n+25) {
				display: block;
				& + h3 {
					display: block;
				}
			}
		}
	}
}
.sorted-links__column {
	& + a.sorted-links__column {
		border-left: 1px solid #EFEFEF;
	}
}
.sorted-links__item {
	display: block;
	padding: 8px 10px 8px 15px;

	font-weight: 400;
	font-size: 12px;
	line-height: 14px;

	color: #000000;
	&:not(div) {
		border-bottom: 1px solid #EFEFEF;
		&:hover, &:focus {
			text-decoration: none;
			color: #000;
			background-color: rgba(204, 204, 204, 0.4);
		}
		&.disabled {
			color: #999999;
			cursor: default;
			&:hover, &:focus {
				color: #999999;
				background-color: transparent;
			}
		}
		&.active {
			background: linear-gradient(180deg, #07465A 19.58%, #002632 98.7%) !important;
			box-shadow: 0px 1px 1px rgba(22, 29, 37, 0.03);
			border-radius: 2px;
			color: #fff;
		}
		&:nth-child(even) {
			background: #F7F7F7;
			background-blend-mode: multiply;
		}
		&:nth-child(n+25) {
			display: none;
			& + h3 {
				display: none;
			}
		}
	}
}

.sorted-links__special {
	.svg-icon {
		color: #000;
		transform: rotate(180deg);
	}
	&:hover, &:focus {
		text-decoration: none;
		background: linear-gradient(180deg, #07465A 19.58%, #002632 98.7%) !important;
		box-shadow: 0px 1px 1px rgba(22, 29, 37, 0.03);
		border-radius: 2px;
		.sorted-links__item {
			color: #fff;
		}
		.svg-icon {
			color: #fff;
		}
	}
}