.table-stat-dir {
	width: 100%;

	font-size: 14px;
	line-height: 20px;
	color: #292929;
	@include mmd() {
		display: block;
	}
	thead {
		@include mmd() {
			display: block;
		}
		background: linear-gradient(180deg, #FFFFFF 0%, #F9FAFB 100%);
		border-radius: 3px;
		tr {
			@include mmd() {
				display: block;
			}
			border: 1px solid #EFEFF0;
		}
		th {
			@include mmd() {
				display: none;
			}
			font-weight: 400;
			padding: 6px 15px;
			&:first-child {
				@include md() {
					padding-left: 28px;
				}
			}
		}
	}
	tbody {
		@include mmd() {
			display: block;
		}
		tr {
			background: #FFFFFF;
			border: 1px solid #E9E9E9;
			&:nth-child(even) {
				@include md() {
					background: #F7F7F7;
				}
			}
			@include mmd() {
				display: block;
				padding: 5px 0 10px;
				margin-bottom: 10px;
			}
		}
		td {
			padding: 4px 15px 3px;
			@include mmd() {
				display: block;
				&:before {
					display: inline-block;
					vertical-align: middle;
					content: attr(data-th)": ";
					font-weight: 700;
					margin-right: 5px;
				}
			}
			&:first-child {
				@include md() {
					padding-left: 28px;
				}
			}
		}
	}
}
.table-stat-dir-name {
	font-weight: 700;
	display: inline-block;
}
.table-stat-dir-name__icon {
	font-size: 26px;
	color: #2D98DA;
	margin: 0 5px;
}