.table-tech {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		display: flex;
		flex-wrap: wrap;
		& > li {
			position: relative;
			padding-left: 3px;
			padding-right: 3px;
			&:hover {
				.popover {
					opacity: 1;
					visibility: visible;
				}
			}
			& > a {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 16px;
				height: 16px;
				padding: 0 !important;
				display: flex !important;
				border-radius: 50%;
				background-color: #292929;
			}
		}

	}
	.popover {
		position: absolute;
		top: 100%;
		left: -15px;
		margin-top: 5px;

		padding: 15px 11px;
		width: 230px;
		font-size: 12px;
		line-height: 14px;

		color: #292929;

		opacity: 0;
		visibility: hidden;
		&:before {
			left: 11px;
		}
		&:after {
			left: 14px;
		}
	}
}