.table-stat-dir-small {
	width: 100%;
	margin: 0 0 20px;

	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: #292929;

	border-radius: 3px;
	thead {
		background: linear-gradient(180deg, #FFFFFF 0%, #F9FAFB 100%);
		border-radius: 3px;
	}
	tbody {

	}
	tr {
		background: #FFFFFF;
		border: 1px solid #E9E9E9;
		&:nth-child(even) {
			background: #F7F7F7;
			border: 1px solid #E9E9E9;
		}
	}
	th {
		font-weight: 400;
		padding: 7px 15px 6px;
		&:first-child {
			@include md() {
				padding-left: 28px;
			}
		}
	}
	td {
		padding: 4px 15px 3px;
		&:first-child {
			@include md() {
				padding-left: 28px;
			}
		}
	}
}