.tabs-nav {
	// background: -webkit-linear-gradient(#45AAF2 9.46, #298CC8 66.33);
	// background: -o-linear-gradient(#45AAF2 9.46, #298CC8 66.33);
	// background: linear-gradient(#45AAF2 9.46, #298CC8 66.33);

	list-style: none;
	padding: 18px 17px 15px;
	margin: 0;

	display: flex;
	flex-wrap: wrap;
	// justify-content: space-between;
	li {
		display: flex;
		flex-direction: column;
		padding-left: 5px;
		padding-right: 5px;
	}
	a {
		position: relative;
		display: block;
		padding: 9px 17px 8px;

		font-weight: 700;
		font-size: 14px;
		line-height: 1;
		color: #fff;
		text-decoration: underline;
		text-decoration-style: dashed;
		@include mxl() {
			padding-left: 10px;
			padding-right: 10px;
		}
		&:before {
			content: '';

			position: absolute;
			top: 100%;
			left: 50%;
			transform: translate(-50%, 0);
			margin-top: -1px;
			z-index: 2;
			border-top: 7px solid #2383C8;
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;

			opacity: 0;
			visibility: hidden;
		}
		
		& > * {
			position: relative;
		}
		&.active {
			text-decoration: none;
			background: linear-gradient(180deg, rgba(#2D88C8, .64) 0%, rgba(#2383C8, .64) 100%);
			mix-blend-mode: normal;
			box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 0.1763);
			&:before {
				opacity: 1;
				visibility: visible;
			}
		}
		&:hover {
			&.active {
				text-decoration: none;
			}
		}
	}
}