.tab-content {
	position: relative;
	// overflow: hidden;
	line-height: 1.36;
	&_register {
		padding: 10px 0;
		@include sm() {
			padding: 35px 18px;
		}
	}
}
.tab-content__pane {
	// position: absolute;
	// top: 0;
	// left: 0;
	// width: 100%;
	// opacity: 0;
	// visibility: hidden;
	// transition: linear .2s;
	display: none;
	&.active {
		display: block;
		// opacity: 1;
		// visibility: visible;
		// position: static;
	}
}

.tab-content__table {
	margin-bottom: 30px;
}
.tab-content__form-log {
	margin-top: 45px;
	max-width: 355px;
}