.tech-box {
	margin: 20px 0;
	border-top: 1px solid #E5E5E5;
	padding-top: 15px;
	color: #999;

	font-size: 13px;
	line-height: 1.6;
	span {
		color: #3397D7;
	}
}
.tech-box__socials {
	margin-top: 3px;
}