.trader-card {
	background: #FFFFFF;
	box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15);
	border-radius: 3px;
}
.trader-card__head {
	padding: 22px 27px 12px;
	border-bottom: 1px solid #E7E7E7;
	@include msm() {
		padding-left: 15px;
		padding-right: 15px;
	}
}
.trader-card__logo {
	width: 166px;
	height: 150px;
	margin-bottom: 10px;

	box-shadow: 0px 1px 11px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	overflow: hidden;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.trader-card__more {
	margin-bottom: 10px;
	h2 {
		margin-bottom: 5px;
	}
	a {
		display: inline-block;
		// border-bottom: 1px dashed #2D98DA;
		text-decoration: underline;
		text-decoration-style: dashed;
		margin-bottom: 8px;
		font-size: 13px;
		line-height: 21px;

		color: #2D98DA;
		&:hover {
			text-decoration: none;
			// border-bottom-color: transparent;
		}
	}
	& > * {
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.trader-card__label-select {
	width: 162px;
}

.trader-card__body {
	padding: 20px 28px 10px;
	@include msm() {
		padding-left: 15px;
	}
}

.trader-card__table {
	width: 220px;
	@media only screen and (max-width: 400px) {
		width: 240px;
	}
}

.trader-card__reviews-title {
	h4 {
		margin-bottom: 13px;
	}
}
.trader-card__table-reviews {
	width: 323px;
	@media only screen and (max-width: 400px) {
		width: 240px;
	}
}

.trader-card__simple-table {
	width: 100%;
	margin: 15px 0;
	td {
		&:first-child {
			width: 50%;
		}
		&:last-child {
			width: 50%;
		}
	}
}