.wrap {
	padding: 13px 18px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 6px;

	background: #FFFFFF;
	box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15);
	border-radius: 3px;
}

.wrap__column {
	display: flex;
	flex-wrap: wrap;
	margin: 5px 0;
	align-items: center;
}

.wrap__form {
	margin-left: -18px;
	margin-right: -18px;
	margin-top: 15px;
}
