.wrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.wrapper__in {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.wrapper__content-wrap {
	margin-bottom: 60px;
}
.wrapper__aside {

}
.wrapper__content {
	@include lg() {
		padding-top: 27px;
	}
}
.wrapper__table {
	margin-bottom: 30px;
}
.wrapper__menu-title {
	background-color: #2D98DA;
	@include mlg() {
		margin-left: -15px;
		margin-right: -15px;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 10px;
	}
	@include lg() {
		max-width: 620px;
	}
}

.wrapper__mobile-buttons {
	margin-bottom: 10px;
}
