html {
	font-size: $rem-font-size;
}
body {
	position: relative;

	font-family: $document-font-family;
	font-weight: $document-font-weight;
	font-size: $document-font-size;
	line-height: $document-line-height;
	color: $document-color;

	background-color: $document-background;
	// background-color: #f3f3f3;
	&.scroll-hidden {
		overflow: hidden; 
		@include lg() {
			padding-right: 17px;
		}
	}
}

img {
	max-width: 100%;
	height: auto;
}
input, textarea {
	&:focus {
		outline: none;
	}
}
button, input[type="submit"] {
	cursor: pointer;
	&:focus {
		outline: none;
	}
}
a {
	text-decoration: none;
	color: inherit;
	&:hover, &:focus {
		color: inherit;
		outline: none;
	}
}
// .pixelperfect {
// 	@include xl() {
// 		position: absolute;
// 		top: 0;
// 		right: 0;
// 		bottom: 0;
// 		left: 0;
// 		z-index: 9999;

// 		background: url("../images/HC rastr.jpg") 0 0 no-repeat;

// 		opacity: .3;
// 	}
// 	display: none;
// }

.list-clr {
	padding: 0;
	list-style: none;
	margin: 0;
}

strong {
	font-size: 18px;
	font-weight: 700;
}
iframe {
	width: 100%;
	min-height: 200px;
}

.w-100 {
	width: 100%;
}

.positive {
	color: #64DA2D;
}
.negative {
	color: #DA2D2D;
}