@font-face {
	font-family: 'Helvetica';
	src: url('../fonts/subset-Helvetica.woff') format('woff'),
		 url('../fonts/subset-Helvetica.woff2') format('woff2');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'Helvetica';
	src: url('../fonts/subset-Helvetica-Bold.woff') format('woff'),
		 url('../fonts/subset-Helvetica-Bold.woff2') format('woff2');
	font-style: normal;
	font-weight: 700;
}
