.mfp-gallery {

}

.mfp__button {
	position: absolute;
	bottom: 20px;
	cursor: pointer;
	z-index: 1045;
	// display: none;
	color: #fff;
	font-size: 50px;
	use {
		position: relative;
		z-index: -1;
	}
	@media only screen and (min-width: 740px) {
		bottom: auto;
		top: 50%;
		margin: -20px 0 0 0;
	}
}
.mfp__button_left {
	left: 50%;
	margin-left: -30px;
	@media only screen and (min-width: 740px) {
		left: 20px;
	}
}
.mfp__button_right {
	right: 50%;
	margin-right: -30px;
	@media only screen and (min-width: 740px) {
		right: 20px;
	}
}
.mfp-content {
	min-height: 100vh;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	// padding-bottom: 60px;
	// padding-top: 60px;
	@media only screen and (min-width: 740px) {
		// 	padding-bottom: 0;
		// 	padding-top: 0;
		
	}
	// }
}
img.mfp-img {
	// padding: 0;
	// padding: 60px 0;
	@media only screen and (min-width: 0) {
		padding: 40px 0;
	}
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
	cursor: default;
}
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
	width: auto;
	cursor: pointer;
	right: 0;
}


.mfp-zoom-in {

	/* start state */
	.mfp-with-anim {
		opacity: 0;
		transition: all 0.2s ease-in-out; 
		transform: scale(0.8); 
	}
	
	&.mfp-bg {
		opacity: 0;
		transition: all 0.3s ease-out;
	}
	
	/* animate in */
	&.mfp-ready {
		.mfp-with-anim {
			opacity: 1;
			transform: scale(1); 
		}
		&.mfp-bg {
			opacity: 0.8;
		}
	}
	
	/* animate out */
	&.mfp-removing {
		
		.mfp-with-anim {
			transform: scale(0.8); 
			opacity: 0;
		}
		&.mfp-bg {
			opacity: 0;
		}
		
	}
	
}


/* 

====== Newspaper effect ======

*/
.mfp-newspaper {
	
	/* start state */
	.mfp-with-anim {
		opacity: 0;
		-webkit-transition: all 0.2s ease-in-out; 
		transition: all 0.5s;
		
		transform: scale(0) rotate(500deg);
	}
	
	&.mfp-bg {
		opacity: 0;
		transition: all 0.5s;
	}

	/* animate in */
	&.mfp-ready {
		.mfp-with-anim {
			opacity: 1;
			transform: scale(1) rotate(0deg);
		}
		&.mfp-bg {
			opacity: 0.8;
		}
	}
	
	/* animate out */
	&.mfp-removing {
		
		.mfp-with-anim {
			transform: scale(0) rotate(500deg);
			opacity: 0;
		}
		&.mfp-bg {
			opacity: 0;
		}
		
	}
	
}



/* 

====== Move-horizontal effect ======

*/
.mfp-move-horizontal {
	
	/* start state */
	.mfp-with-anim {
		opacity: 0;
		transition: all 0.3s;
		
		transform: translateX(-50px);
	}
	
	&.mfp-bg {
		opacity: 0;
		transition: all 0.3s;
	}
	
	/* animate in */
	&.mfp-ready {
		.mfp-with-anim {
			opacity: 1;
			transform: translateX(0);
		}
		&.mfp-bg {
			opacity: 0.8;
		}
	}
	
	/* animate out */
	&.mfp-removing {
		
		.mfp-with-anim {
			transform: translateX(50px);
			opacity: 0;
		}
		&.mfp-bg {
			opacity: 0;
		}
		
	}
	
}


/* 

====== Move-from-top effect ======

*/
.mfp-move-from-top {
	
	.mfp-content {
	 vertical-align:top; 
 }
 
	/* start state */
	.mfp-with-anim {
		opacity: 0;
		transition: all 0.2s;
		
		transform: translateY(-100px);
	}
	
	&.mfp-bg {
		opacity: 0;
		transition: all 0.2s;
	}
	
	/* animate in */
	&.mfp-ready {
		.mfp-with-anim {
			opacity: 1;
			transform: translateY(0);
		}
		&.mfp-bg {
			opacity: 0.8;
		}
	}
	
	/* animate out */
	&.mfp-removing {
		
		.mfp-with-anim {
			transform: translateY(-50px);
			opacity: 0;
		}
		&.mfp-bg {
			opacity: 0;
		}
		
	}
	
}


/* 

====== 3d unfold ======

*/
.mfp-3d-unfold {
	
 
	.mfp-content {
		perspective: 2000px; 
	}
	
	/* start state */
	.mfp-with-anim {
		opacity: 0;
		transition: all 0.3s ease-in-out;
		transform-style: preserve-3d;
		transform: rotateY(-60deg);
	}
	
	
	&.mfp-bg {
		opacity: 0;
		transition: all 0.5s;
	}
	
	/* animate in */
	&.mfp-ready {
		.mfp-with-anim {
			opacity: 1;
			transform: rotateY(0deg);
		}
		&.mfp-bg {
			opacity: 0.8;
		}
	}
	
	/* animate out */
	&.mfp-removing {
		
		.mfp-with-anim {
			transform: rotateY(60deg);
			opacity: 0;
		}
		&.mfp-bg {
			opacity: 0;
		}
		
	}
	
}




/* 

====== Zoom-out effect ======

*/
.mfp-zoom-out {
	
	/* start state */
	.mfp-with-anim {
		opacity: 0;
		transition: all 0.3s ease-in-out; 
		transform: scale(1.3); 
	}
	
	&.mfp-bg {
		opacity: 0;
		transition: all 0.3s ease-out;
	}
	
	/* animate in */
	&.mfp-ready {
		.mfp-with-anim {
			opacity: 1;
			transform: scale(1); 
		}
		&.mfp-bg {
			opacity: 0.8;
		}
	}
	
	/* animate out */
	&.mfp-removing {
		
		.mfp-with-anim {
			transform: scale(1.3); 
			opacity: 0;
		}
		&.mfp-bg {
			opacity: 0;
		}
		
	}
	
}



.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}