.svg-icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
	&_font_size_25 {
		font-size: 25px;
	}
	&_font_size_50 {
		font-size: 50px;
	}
	&_svg_margin_top_5 {
		margin-top: 5px;
	}
	&_svg_margin_bottom_5 {
		margin-bottom: 5px;
	}
	&_margin_5 {
		margin: 5px;
	}
	&_rotate {
		transform: rotate(180deg);
	}
	&_color_white {
		color: #fff;
	}
	&_color_blue {
		color: #2D98DA;
	}
	&_color_red {
		color: #c03a2b;
	}
	&_color_white_opacity_60 {
		color: rgba(#fff, .6);
	}
	&_right {
		transform: rotate(180deg);
	}
}