$rem-font-size: 14px;
$Hel: 'Arial', sans-serif;

// values for body tag
$document-font-family: $Hel;
$document-font-weight: 400;
$document-font-size: 1rem;
$document-color: #373737;
$document-line-height: 1.21;
$document-background: #F0F0F0;

$mixin-min-viewport: 575px;
$mixin-min-viewport-mmd: 767px;
$mixin-max-viewport: 1200px;