<footer class="footer">
	<div class="container-fluid">
		<div class="row align-items-center justify-content-between">
			<div class="column">
				<div class="footer__copy copy">
					<div>© 2019 AllChange.info – мониторинг обменников.</div>
					<div>Условия Конфиденциальности</div>
				</div>
			</div>
			<div class="column">
				<div class="row row_indents_m">
					<ul class="menu-footer flex-grow-1">
						<li><a href="#">Новости</a></li>
						<li><a href="#">Конвертер</a></li>
						<li><a href="#">Информация</a></li>
						<li><a href="#">English</a></li>
						<li><a href="#">Карта сайта</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>