<header class="header">
	<div class="container-fluid">
		<div class="row justify-content-end align-items-start">
			<ul class="header-info">
				<li>Всего курсов: 71846</li>
				<li>Обменников: 420</li>
				<li>Обновление: 14:13:05</li>
			</ul>
			<div class="lang">
				<ul>
					<li><a class="active" href="#"><img src="images/ru.png" alt=""></a></li>
					<li><a href="#"><img src="images/usa.png" alt=""></a></li>
				</ul>
			</div>
		</div>
	</div>
</header>