<div class="wrapper__mobile-buttons row row_indents_s justify-content-end align-items-center d-lg-none">
	<div class="column">
		<button class="button-clr" type="button" data-open="table-aside">
			<svg class="svg-icon svg-icon_color_white svg-icon_font_size_25">
				<use xlink:href="images/svg-sprite/svgSprite.svg#list"></use>
			</svg>
		</button>
	</div>
	<div class="column">
		<button class="button-clr" type="button" data-open="menu">
			<svg class="svg-icon svg-icon_color_white svg-icon_font_size_25">
				<use xlink:href="images/svg-sprite/svgSprite.svg#menu"></use>
			</svg>
		</button>
	</div>
</div>
<div class="menu" id="menu">
	<div class="menu__in">
		<button class="menu__close close close_color_dark button-clr d-lg-none" data-close="menu">
			<svg class="svg-icon svg-icon_color_blue svg-icon_font_size_25">
				<use xlink:href="images/svg-sprite/svgSprite.svg#close"></use>
			</svg>
		</button>
		<ul class="menu-nav">
			<li><a class="active" href="#">Мониторинг</a></li>
			<li><a href="#">Обменники</a></li>
			<li><a href="#">Партнерам</a></li>
			<li><a href="#">Приложения</a></li>
			<li><a href="#">Помощь</a></li>
			<li><a href="#">FAQ</a></li>
			<li><a href="#">Контакты</a></li>
		</ul>
	</div>
</div>