<aside class="wrapper__aside aside col-lg-4">
	<a class="logo" href="#">
		<img src="images/logo.png" alt="">
	</a>
	<div class="aside__mobile" id="table-aside">
		<div class="aside__mobile-in">
			<button class="aside__mobile-close close close_color_dark button-clr d-lg-none" data-close="table-aside">
				<svg class="svg-icon svg-icon_color_white svg-icon_font_size_25">
					<use xlink:href="images/svg-sprite/svgSprite.svg#close"></use>
				</svg>
			</button>
			<div class="aside__top aside__top_personal">
				<h2>Личный кабинет</h2>
			</div>
			<ul class="aside__menu-personal">
				<li><a class="active" href="#">Общая информация</a></li>
				<li><a href="#">Отзывы</a></li>
				<li><a href="#">Статистика</a></li>
			</ul>
			<!-- <div class="aside__tab-content tab-content">
				<div class="tab-content__pane active" id="table">
					<div class="aside__sort">
						<div class="sort-form">
							<form>
								<div class="sort-form__row row no-gutters">
									<div class="sort-form__group col-6">
										<label class="sort-form__label" for="sort-input1">Оплатите:</label>
										<div class="sort-form__input-wrap">
											<input class="sort-form__control" id="sort-input1" type="search" placeholder="Введите название">
										</div>
									</div>
									<div class="sort-form__group col-6">
										<label class="sort-form__label" for="sort-input2">Получите:</label>
										<div class="sort-form__input-wrap">
											<input class="sort-form__control" id="sort-input2" type="search" placeholder="Введите название">
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="tab-content__pane" id="popular">
					<div class="sorted-links">
						<h3>Избранное</h3>
						<a class="sorted-links__special row no-gutters align-items-center" href="#">
							<div class="sorted-links__item">EOS (EOS)</div>
							<svg class="svg-icon">
								<use xlink:href="images/svg-sprite/svgSprite.svg#arrow"></use>
							</svg>
							<div class="sorted-links__item">
								OmiseGO (OMG)
							</div>
						</a>
						<h3>Популярное</h3>
						<a class="sorted-links__special row no-gutters align-items-center" href="#">
							<div class="sorted-links__item">EOS (EOS)</div>
							<svg class="svg-icon">
								<use xlink:href="images/svg-sprite/svgSprite.svg#arrow"></use>
							</svg>
							<div class="sorted-links__item">
								OmiseGO (OMG)
							</div>
						</a>
						<a class="sorted-links__special row no-gutters align-items-center" href="#">
							<div class="sorted-links__item">EOS (EOS)</div>
							<svg class="svg-icon">
								<use xlink:href="images/svg-sprite/svgSprite.svg#arrow"></use>
							</svg>
							<div class="sorted-links__item">
								OmiseGO (OMG)
							</div>
						</a>
						<a class="sorted-links__special row no-gutters align-items-center" href="#">
							<div class="sorted-links__item">EOS (EOS)</div>
							<svg class="svg-icon">
								<use xlink:href="images/svg-sprite/svgSprite.svg#arrow"></use>
							</svg>
							<div class="sorted-links__item">
								OmiseGO (OMG)
							</div>
						</a>
					</div>
				</div>
			</div> -->
		</div>
	</div>
</aside>