<script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
<script src="//yastatic.net/share2/share.js"></script>
<script src="js/libs/svg4everybody.min.js"></script>
<script src="js/libs/houdini.min.js"></script>
<script src="js/libs/tiny-slider.js"></script>
<script src="js/libs/choices.min.js"></script>
<script src="js/main.js"></script>
